.container {
    font-family: 'Helvetica', sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin: 10px 0px;
    font-weight: 900;
}

.form-control {
    width: 280px;
}

.dropdown-toggle {
    font-size: 18px;
    margin-top: 10px;
    background: #A99 !important;
    border: none;
}