<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Public Transportation</title>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="container">
            <h1><i class="fa fa-subway"></i> <span style="color: #fd5c63;">Cal</span>train</h1>
            
            <div>
                <label for="departure-station">
                  <span>Start</span>
                  <select id="departure-station" class="form-control" name="departure" aria-label="Departure Station">
                      <option disabled selected value> -- select a departure station -- </option>
                  </select>
                </label>
            </div>
            
            <div id="stops">
                
            </div>
            
            <div>
                <label for="arrival-station">
                  <span>End</span>
                  <select id="arrival-station" class="form-control" name="arrival" aria-label="Arrival Station">
                      <option disabled selected value> -- select an arrival station -- </option>
                  </select>
                </label>
            </div>
        </div>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="/public/javascript/index.js"></script>
    </body>
</html>