<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Public Transportation</title>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="container">
            <h1><i class="fa fa-subway"></i> <span style="color: #fd5c63;">Cal</span>train</h1>
            
            <div>
                <label for="departure-input">
                  <span>Departure</span>
                  <input type="text" id="departure-input" class="form-control" name="departure" placeholder="Departure Station">
                </label>
            </div>
            
            <div>
                <label for="arrival-input">
                  <span>Arrival</span>
                  <input type="text" id="arrival-input" class="form-control" name="arrival" placeholder="Arrival Station">
                </label>
            </div>
        </div>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </body>
</html>